span[class~="deck"] {
  color: purple;
}
div[id] {
  background-color: gray;
}
a[title="search engine"] {
  color: red;
}
a[href$=".pdf"] {
  color: blue;
}
a[href^="http"] {
  background-color: aquamarine;
}
