article h2,
article p {
  font-family: arial, helvetica, sans-seriff;
}
a {
  text-decoration: none;
}
article {
  text-decoration: overline;
}
a {
  text-decoration: inherit;
}
a {
  text-decoration: line-through;
}
